<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.UserTestMapper">

    <insert id="insertUserTest"  parameterType="com.tencent.wxcloudrun.model.UserTest">
        INSERT INTO `UserTest`(`id`, `uid`, `projectId`, `projectName`, `result`, `score`,)
                VALUE(#{id}, #{uid}, #{projectId}, #{projectName}, #{result}, #{score})
    </insert>

    <select id="findAllByUid" resultType="com.tencent.wxcloudrun.model.UserTest" parameterType="java.lang.Integer">
        SELECT `id`, `uid`, `projectId`, `projectName`, `result`, `score`, `createdAt`, `updatedAt`
        FROM UserTest
        where uid=#{uid}
        order id desc
    </select>


</mapper>
